/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  margin: 0;
}

.app {
  background: #202020;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

input {
  display: block;
  margin: 0.5rem auto;
  padding: 0.6rem 0.8rem;
  width: 80%;
  border: none;
  border-radius: 6px;
  background: #e0e0e0;
  color: #202020;
  font-size: 1rem;
}

button {
  background: #1e40af;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.2s;
}

button:hover {
  background: #374b9c;
}

.error {
  color: #f87171;
  margin-top: 0.5rem;
  font-weight: 500;
}

.Toastify__toast--success {
  background: #16a34a;
  color: white;
}

.Toastify__toast--error {
  background: #dc2626;
  color: white;
}

.Toastify__toast {
  font-weight: 500;
  border-radius: 8px;
}

.Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.8);
}
